<nav id="sidebar" >
    <div class="container mb-5">
        <div class="list-group noto">
            <a class="rounded-0 list-group-item list-group-item-action " href="{% url 'pybo:index' %}"><img src="/static/img/logo.png" width="28px" max-width: 100%; height: auto;> 자유 게시판</a>
            <a class="rounded-0 list-group-item list-group-item-action " href="http://www.beautydowha.co.kr" ><img src= "/static/img/ic_heart_pressed_small.png"  width="28px"; max-width: 100%; height: auto;>  피부 진단하기</a>
            <a class="rounded-0 list-group-item list-group-item-action " href="https://dowhasurvey.typeform.com/to/mYkJmYV7"><img src= "/static/img/ic_community_pressed.png" width="28px" max-width: 100%; height: auto;> 피드백 하기</a>
        </div>
    </div>
</nav>

